body {
    padding: 10px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    display: grid;
    grid-template-columns: 200px auto;
    grid-template-areas: 'header header header''nav nav nav' 'main main main';

}
  img {
    padding: 0px;
    margin-left: 0px;
    height: 95%;
  }
  
  body>header {
    padding: 2px;
    grid-area: header;
    display: flex;
    align-items: center;
    text-align: center;
    color: rgb(43, 226, 217);
    width: 100%; height: 100%;
    background-color: white;
    z-index: 1;
    position: relative;
    overflow: hidden;
    }
  
  header{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items:center;
      color:#fff;
    }
  
  .box{
      width:auto; height: 200px;
      background-color: white;
      position: relative;
      
    }
  
  .box:after, .box:before{
      mix-blend-mode:multiply;
      filter:none;
      z-index: -1;
      content:'';
      width:calc(100% + (50px * 2));
      height:calc(100% + (50px * 2));
      position: absolute;
      display: block;
      animation: border 10s ease-in-out infinite;
      transform:translateX(-50px) translateY(-50px);
    }
  
  @keyframes border {
    0%, 100% {
      -webkit-clip-path: polygon(0 0, calc(100% - (33.3333333333px)) calc(0% + (33.3333333333px)), 100% 100%, calc(0% + (33.3333333333px)) calc(100% - (33.3333333333px)));
      clip-path: polygon(0 0, calc(100% - (33.3333333333px)) calc(0% + (33.3333333333px)), 100% 100%, calc(0% + (33.3333333333px)) calc(100% - (33.3333333333px)));
    }
    50% {
      -webkit-clip-path: polygon(calc(0% + (33.3333333333px)) calc(0% + (33.3333333333px)), 100% 0, calc(100% - (33.3333333333px)) calc(100% - (33.3333333333px)), 0 100%);
      clip-path: polygon(calc(0% + (33.3333333333px)) calc(0% + (33.3333333333px)), 100% 0, calc(100% - (33.3333333333px)) calc(100% - (33.3333333333px)), 0 100%);
    }
  }
  
  .box:after{
      animation-delay: -5s;
      background-color:  #ebfaf9;
      clip-path: polygon(0 0, calc(100% - 33.3333333333px)) calc(0% + (33.3333333333px)), 100% 100%, calc(0% + (33.3333333333px)) calc(100% - (33.3333333333px));
    }
  .box:before {
    background-color: #ebfaf9;
      clip-path: polygon(calc(0% + (33.3333333333px)) calc(0% + (33.3333333333px)), 100% 0, calc(100% - (33.3333333333px)) calc(100% - (33.3333333333px)), 0 100%);
    }
  
  .box:hover:after{
      animation-delay: -0.2s;
    }
  .box:hover:before, .box:hover:after {
    animation-duration: -0.2s;
    }
  
  
  body> header section {
    width: 70%;
    text-align: center;
    color: rgb(43, 226, 217);
    }
     
    nav{
        grid-area: nav;
        display: flex;
        width: 100%;
        justify-content: space-around;
        align-items: flex-start;
        }
        
        nav> .button1{
              grid-area: nav;
              display:inline-block;
              padding:20px;
              flex-grow: 1;
              border:0.1em solid  rgb(43, 226, 217);
              margin:0 0.3em 0.3em 0;
              border-radius:0.12em;
              box-sizing: 50px 50px ;
              text-decoration:none;
              font-family:'Roboto',sans-serif;
              font-weight:300;
              color: rgb(43, 226, 217);
              text-align:center;
              transition: all 0.2s;
        }
        
        .button1:hover{
              color:#000000;
              background-color: rgb(43, 226, 217);
        }
        
        a.button1{
              display:block;
              margin:0.4em auto;
              max-width:30em;
        }

    .perfil{
      width:150px;
      height:150px;
      position:absolute;
      top:50%;
      left:50%;
      margin-top:-50px;
      margin-left:-60px;
      border:2px solid #424242 ;
    }

    .table1, td, th {  
      border: 1px solid #ddd;
      text-align: center;
    }
    
    .table1 {
      width:100px;
      height:100px;
      margin-top: 100%;
      margin-left: 270%;
      border-collapse: collapse;
    }
    
    th, td {
    padding:7px;
    padding-left: 50px;
    padding-right: 50px;
    align-items: center;
    border: 2px solid #424242;
    }